.hero.container {
  position: relative;
  display: flex;

  & .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-top: 5vh;
    padding-inline: 1rem;
  }

  & .hero-text {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    & .cta-button {
      display: block;
      text-align: center;
    }
  }

  & .hero-description {
    line-height: var(--line-height-relaxed);
  }

  & .hero-title {
    font-size: var(--font-size-6xl);
    text-wrap: balance;
  }

  & .cta-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & .helper {
      font-size: var(--font-size-md);
    }
  }

  & .hero-logo {
    & img {
      height: 2.75rem;
      width: auto;
    }
  }

  & .hero-image {
    position: static;
    width: 100%;

    & img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  /* control positioning of hero text and image */
  @media (min-width: 768px) {
    & .hero-text .cta-button {
      display: inline;
    }
  }

  @media (min-width: 1024px) {
    --top-spacing: 18vh;

    /* undo .container styles */
    max-width: 100%;
    margin-inline: 0;
    padding-inline: 0;

    & .hero-text {
      max-width: 416px;
    }

    & .hero-content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 3rem;
      max-width: 1024px;
      padding-top: var(--top-spacing);
      padding-inline: 6vw;
    }

    & .hero-logo {
      position: absolute;
      top: 5rem;
      right: 8rem;
    }

    & .hero-image {
      position: absolute;
      top: var(--top-spacing);
      right: -30vw;
      width: 75vw;
    }
  }

  @media (min-width: 1280px) {
    --top-spacing: 23vh;

    & .hero-content {
      max-width: 1280px;
      padding-top: var(--top-spacing);
      padding-inline: 6vw;
    }

    & .hero-logo {
      top: 4rem;
      right: 8rem;
    }

    & .hero-image {
      top: var(--top-spacing);
      right: -8vw;
      width: 55vw;
    }
  }

  @media (min-width: 1400px) {
    --top-spacing: 20vh;

    & .hero-content {
      max-width: 1500px;
      padding-top: var(--top-spacing);
      padding-inline: 8vw;
    }

    & .hero-logo {
      top: 5rem;
      right: 8rem;
    }

    & .hero-image {
      top: var(--top-spacing);
      right: -2vw;
      width: 50vw;
    }
  }

  @media (min-width: 1536px) {
    --top-spacing: 23vh;

    & .hero-content {
      max-width: 1500px;
      padding-top: var(--top-spacing);
      padding-inline: 12vw;
    }

    & .hero-logo {
      top: 5rem;
      right: 10rem;
    }

    & .hero-image {
      top: var(--top-spacing);
      right: -2vw;
      width: 50vw;
    }
  }

  @media (min-width: 1920px) {
    --top-spacing: 22vh;

    & .hero-content {
      max-width: 1500px;
      padding-top: var(--top-spacing);
      padding-inline: 8vw;
    }

    & .hero-logo {
      top: 6.5rem;
      right: 12rem;
    }

    & .hero-image {
      top: var(--top-spacing);
      right: -2vw;
      width: 50vw;
    }
  }

  @media (min-width: 2500px) {
    --top-spacing: 20vh;

    margin-bottom: 10rem;

    & .hero-content {
      max-width: 1700px;
      padding-top: var(--top-spacing);
      padding-inline: 4vw;
    }

    & .hero-logo {
      top: 6.5rem;
      right: 16rem;
    }

    & .hero-image {
      top: var(--top-spacing);
      right: -2vw;
      width: 50vw;
    }
  }
}

/* transition on load */
.hero-text,
.hero-logo,
.hero-image {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.hero.visible {
  & .hero-text,
  & .hero-logo:not(.hidden-on-scroll),
  & .hero-image {
    opacity: 1;
    transform: translateY(0);
  }
}

/* transition on scroll */
.hero-logo {
  &.hidden-on-scroll {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &.visible-on-scroll {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
}
