<section class="faq-section container">
  <h2 class="section-heading">Frequently Asked Questions</h2>

  <div class="faq-items section-content-full border-dashed">
    <div class="faq-item">
      <h3>Why should I use Nudge instead of Freshdesk, Zendesk, etc?</h3>
      <p>
        Nudge is specifically <span class="text-highlight">built for small teams</span> looking to
        improve their customer support by moving away from email and spreadsheets.
      </p>
      <p>
        There's
        <span class="text-highlight">no setup or training required</span>, so you can be up and
        running in minutes.
      </p>
      <p>
        Tools like Freshdesk and Zendesk are packed with features most small teams don't need (but
        still pay for).
      </p>
      <p>
        If you've got a dedicated support team and need advanced workflows, one of these other tools
        might be a better fit.
      </p>
      <p>
        But if you want something simple and effective, Nudge could be exactly what you're looking
        for. <span class="text-highlight">You can try it for free</span>, so there's nothing to
        lose.
      </p>
    </div>

    <div class="faq-item">
      <h3>What makes Nudge different than a shared inbox?</h3>
      <p>
        Shared inboxes can get messy, especially when multiple people are replying to customer
        emails.
      </p>
      <p>
        Nudge keeps <span class="text-highlight">everything organised in one place</span>, so
        nothing gets lost and
        <span class="text-highlight">specific requests are easy to find</span>.
      </p>
      <p>
        <span class="text-highlight">Customers can check for updates themselves</span> from their
        phone or laptop, without having to chase you by phone or email.
      </p>
      <p>
        And
        <span class="text-highlight">your team can update tickets and add comments on the go</span>,
        so it works wherever you are.
      </p>
    </div>

    <div class="faq-item">
      <h3>What if Nudge doesn't have everything I need?</h3>
      <p>
        Nudge is intentionally simple, but it's
        <span class="text-highlight">evolving directly based on real feedback</span>.
      </p>
      <p>
        When you sign up, you'll be invited to our own Nudge board where
        <span class="text-highlight">you can suggest features</span>,
        <span class="text-highlight">share ideas</span>, and
        <span class="text-highlight">ask questions</span>.
      </p>
      <p>
        Taking this approach means that
        <span class="text-highlight">Nudge grows to meet the needs of its actual users</span>, not
        just what we <span class="text-italic">think</span> you need.
      </p>
    </div>
  </div>
</section>
