<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h1 class="hero-title">Manage all your customer support requests in one place</h1>

      <div class="hero-image lg:hidden">
        <img src="/assets/hero-image-mobile.webp" alt="Screenshot of the Nudge app UI" />
      </div>

      <div class="hero-description">
        <p>Nudge is a customer support app that gives your small team an easy way to track:</p>

        <ul>
          <li>questions</li>
          <li>feature requests</li>
          <li>bugs</li>
        </ul>

        <p>
          It allows you to
          <span class="text-semibold text-italic"
            >ditch those email threads and outdated spreadsheets</span
          >.
        </p>
      </div>

      <div class="cta-container">
        <div>
          <a href="https://app.nudgesupport.com/auth/register" class="btn primary large cta-button"
            >Try Nudge for Free</a
          >
        </div>
        <p class="helper">Free to use while we’re in beta. No credit card required.</p>
      </div>
    </div>

    <div class="hero-logo hidden xl:block">
      <img src="/assets/nudge-logo.svg" alt="Nudge logo" />
    </div>

    <div class="hero-image hidden lg:block">
      <img src="/assets/hero-image-desktop.webp" alt="Screenshot of the Nudge app UI" />
    </div>
  </div>
</section>
