<section class="how-section container">
  <h2 class="section-heading">How Nudge Works</h2>

  <div class="steps-container section-content">
    <workflow-step
      step="1"
      heading="Customers log a request as a ticket"
      description="Customers can log bugs, questions, and feature requests quicker than writing an email.

        No more emails bouncing around between different team members and getting lost in inboxes."
      image="/assets/screenshot-new-ticket.webp"
    ></workflow-step>

    <workflow-step
      step="2"
      heading="Your team is instantly notified"
      description="When a new ticket is logged, your selected team members receive an email notification.
      
      No need to keep checking the app to see if anything new has been logged."
      image="/assets/screenshot-ticket-notifications.webp"
    ></workflow-step>

    <workflow-step
      step="3"
      heading="Clarify the details with comments"
      description="Your team and customers can add comments to clarify the request.
      
      All conversations for the request stay together, so nothing gets lost or forgotten."
      image="/assets/screenshot-ticket-comments.webp"
    ></workflow-step>

    <workflow-step
      step="4"
      heading="Keep customers updated until resolution"
      description="Your team can update the ticket status or details at any time from any device.
      
      Customers are automatically notified, so they're always kept in the loop."
      image="/assets/screenshot-ticket-status.webp"
    ></workflow-step>
  </div>
</section>
