<section class="who-section container">
  <h2 class="section-heading" data-reveal>Who is Nudge For</h2>

  <div class="who-content border-dashed">
    <div>
      If any of these sound familiar when it comes to handling customer support, Nudge will make
      things a lot easier:
    </div>

    <div class="who-chips">
        <chip-item text="no support team"></chip-item>
        <chip-item text="relying on email/spreadsheets"></chip-item>
        <chip-item text="low budget"></chip-item>
        <chip-item text="no time for training"></chip-item>
        <chip-item text="small team wearing many hats"></chip-item>
        <chip-item text="too small for enterprise tools"></chip-item>
    </div>
  </div>
</section>
